<div class="dish-card">
  <div class="dish-card-header">
    {{dish_name}}
  </div>
  <div class="card-body">
    {{body}}
    <!-- HI FUTURE ETHAN, MAKE SURE TO INCLUDE NOTES BOTH ON THIS METHOD
    OF HANDLEBARS IMPLEMENTATION, AND ALSO DIRECTLY FEEDING THE ARRAY INTO
    THE TEMPLATE BY MATCHING THE NAMES OF THE OBJECT PROPERTIES TO THAT OF
    THE PLACEHOLDER NAMES (I.E. 'DESCRIPTION' INSTEAD OF 'BODY' IN THIS CASE) -->
  </div>
</div>
