/* a universal selector, which selects everything on the page, sets primary fonts to Lucida Sans Unicode and Lucida Grande, without serifs */
* {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }

/* an element selector, selecting all of that element type, which sets the background colour of the page's body content to lemonchiffon */
body {
  background-color: lemonchiffon;
}

/* multiple element selectors, selecting all of that following element types, which sets width, height, line height, text colour, and background colour of header and footer content */
header, footer
{
  width: 100%;
  height: 100px;
  line-height: 100px;
  color: #f0ead6;
  background-color: #191970;
}

/* an element selector, selecting all of that element type, which sets the size and background colour of the image figure */
figure
{
  width: 200px;
  background-color: #f0ead6;
}

/* a class selector, which selects all elements assigned the soon-to-be-mentioned class, makes all elements under the highighted-text class a strong bold */
.highlighted-text
{
  font-weight: bolder;
}

/* an id selector, which selects only the one element which has been given the soon-to-be-mentioned id, sets the background colour of the section containing contact information */
#contact-section {
  background-color: #f0ead6;
}
