* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
}

header {
  padding: 40px;
  text-align: center;
  background: #13293d;
  color: #fff;
}

/* 
allows the navigation bar to adjust its size and proportions based on screen size, stacking with other elements once a certain size is reached
*/
nav
{
  display: flex;
  background-color: #d8a47f;
}

nav a
{
  color: #13293d;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* 
makes flexible items wrap around each other if they would otherwise cross the edge of their container
*/
main
{
  display: flex;
  flex-wrap: nowrap;
}

aside {
  flex: 1;
  background-color: #b9c6ae;
  padding: 80px;
  text-align: center;
}


footer {
  padding: 20px;
  text-align: center;
  background: #13293d;
  color: #fff;
}

/* 
aligns flexible items at the center of their container
*/
.products {
  flex: 4;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* 
flex is a shorthand for flex-grow, flex-shrink, and flex-basis; in this case, grow & shrink are set to 0, i.e., the containers won't change size at all as screen size changes, and the will have a base size of 400px
*/
.card {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px;
  flex: 0 0 400px;
}

.card header {
  padding: 20px;
}

.card p {
  text-align: center;
}

.card img {
  width: 100%;
}

/* 
flex-direction defines how flexible objects will reorganize themselves as page shape changes; in this case, it is set to column, i.e., when an element needs to be rearranged, it will prioritize doing so vertically
*/
@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}
